<div class="center jumbotron">
 <h1>Welcome To The Sample App</h1>

 <h2>This is the homepage
 <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org" %>
 sample application
 </h2>
 <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/' %>

